# Fichiers de compilation
build/
*.o
*.exe
*.out

# Fichiers IDE
.vscode/
.idea/
*.swp

# Données temporaires
data/exports/factures/*.txt
data/exports/factures/*.pdf

# OS
.DS_Store
Thumbs.db